NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
GEOCODING_BASE_URL=https://photon.komoot.io
ROUTING_BASE_URL=https://router.project-osrm.org
